<head>

</head>
<body>
    <h1>Hello World!</h1>
    <h2>Lets get you signed up:</h2>
    <form action="/signup" method="post">
        <label for="name">username:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="name">username confirmation:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="name">password:</label>
        <input type="text" id="name" name="name"><br><br>
         <label for="name">password confirmation:</label>
        <input type="text" id="name" name="name"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>