<head>

</head>
<body>
    <h1>Hello World!</h1>
    <h2>Lets get you signed up:</h2>
    <form action="/signup" method="post">
        <label for="username">Username:</label>
                <input type="text" id="username" name="username">
                    <br><br>
        <label for="usernameConfirmation">usernameConfirmation:</label>
                <input type="text" id="usernameConfirmation" name="usernameConfirmation">
                    <br><br>
        <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                    <br><br>
        <label for="passwordConfirmation">passwordConfirmation:</label>
                <input type="password" id="passwordConfirmation" name="passwordConfirmation">
                    <br><br>
        <input type="submit" value="Submit">
    </form>
</body>